/* CSS declarations go here */


body {
  height: 85%;
  max-height: 85%;
}

.container-fluid {
  margin-top: 60px;
  height: 900px;
  overflow: auto;
}

#editors {
  display: inline-block;
  box-shadow: 0 0 15px #000;
  border-radius: 3px;
  margin-right: 5%;
  overflow: auto;
  background: #333;
}

#editors > div:last-child .CodeMirror {
  margin-bottom: 40px;
}

#editors .CodeMirror.active {
  background: #252525;
}

#editors div .CodeMirror {
  border-bottom: 3px solid #111;
}

#editors .CodeMirror {
  font-size: 13pt;
  font-family: "Inconsolata", "Consolas", "Courier New", monospace;
  display: inline-block;
  min-width: 100%;
  overflow: hidden;
  padding: 2.5px 0;
  border-bottom: 3px solid #111;
  background: #222;
  border-radius: 3px;
  border: none;  
}

#output {
  border-radius: 3px;
  box-shadow: 0 0 0px #111;
}

